.inicio>h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 100px;
    color: #d37474;
    font-family: 'Lato', sans-serif;
}


body {
    background-color: black;
    color: blanchedalmond;
}