@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Over+the+Rainbow&display=swap');

body {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: black;
    font-family: "Raleway" , sans-serif;
    font-weight: bold;
}

button {
    font-family: "Raleway" , sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/*bienvenida*/
.bienvenida {
    position: relative;
}

.texto1{
    font-size: 50px;
    width: 75%;
    /* centrar vertical y horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botonBienvenida {
    position: absolute;
    right: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.botonBienvenida:hover{
    border-color: rgb(131, 70, 180);
    background-color: rgb(131, 70, 180);
    color: white;
    cursor: pointer;
}

video{
    height: 100%;
    width: 100%;
    opacity: .6;
    min-width: 100%;
    min-height: 100%;
    z-index: 5;
    right: 0;
    left: 0;
}


/*registro e inicio de sesión*/
.pagRegistro , .pagLogin{
    position: relative;
}

.registroTitulo , .loginTitulo{
    font-size: 50px;
}

.contenedorReg , .contenedorLogin{
    border: 8px solid #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

label {
    font-size: 25px;
    height: 60px;
    line-height: 29px;
    left: 407px;
}

input , .registroo , #loginn{
    cursor: pointer;
    height: 50px;
    width: 600px;
    left: 407px;
    top: 419px;
    border-radius: 4px;
    font-size: 20px;
    text-align: start;
    border-color: transparent;
}

.registroo , #loginn{
    text-align: center;
    font-weight: bold;
    background-color: rgb(180, 131, 212);
    font-size: 30px;
    color: white;
}

p{
    font-family: "Raleway" , sans-serif;
    font-size: 25px;
    margin: 1.5%;
}

#irRegistro , #irLogin {
    border-radius: 2%;
    color: rgb(180, 131, 212);
    border: none;
    padding: 10px;
    margin: 2%;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
}

/*navegador fijo*/
.navegador-fijo{
    width: 80%;
    margin: auto;
    overflow:hidden;
    align-items: center;
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}

ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}

li {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
  float: left;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

li:hover {
  background: rgb(131, 70, 180);
}

.pagInfo{
    top: 10%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.h1 , .h2 , .h3 , .h4 , .h5{
    font-size: 70px;
    font-family: 'Covered By Your Grace', 'Over the Rainbow', cursive;
}

#definicion, #latinoamerica, #actualidad, #olas, #radical{
    margin: 7%;
}
#definicion {
    background-color: rgb(214, 166, 214);
}
#latinoamerica {
    background-color: rgb(192, 134, 192);
}
#actualidad {
    background-color: rgb(179, 104, 179);
}
#olas {
    background-color: rgb(158, 68, 158);
}
#radical {
    background-color: rgb(192, 24, 192);
}

/*bloqueando páginas*/
.pagRegistro , .navegador-fijo , .pagLogin , .pagInfo{
    display: none;
}