body {
    background-color: black;
    color: blanchedalmond;
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}

input , button {
    cursor: pointer;
}

label , input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
